@font-face {
  font-family: 'open-sans';
  src: url('OpenSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

html { 
  position: relative;
  min-height: 100%;
}

body { 
  margin: 0 0 100px 0;
  font-family: 'open-sans', sans-serif;
}

.float-right {
	float: right;
}

/* ----- Blue Nav Bar ----- */
#blue-nav {
	height: 42px;
	background-color: #083D8C;
}

#blue-nav a {
	text-decoration: none;
	color: #fff;
	margin-top: 15px;
	font-size: small;
	padding: 0 20px;
}

.commercial-service {
	margin-top: 13px;
	margin-right: 80px;
}

.commercial-service img {
	height: 15px;
	vertical-align: middle;
	margin-left: -10px;
}

/* ----- Main/BrandBar ----- */
#main-nav {
	height: 101px;
  -webkit-box-shadow: 0px 4px 15px 3px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 4px 15px 3px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 4px 15px 3px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

#main-nav img {
	height: 32px;
	margin-top: 35px;
	margin-left: 80px;
	margin-right: 27%;
}

#main-nav a {
	color: #083D8C;
	text-decoration: none;
	vertical-align: super;
	font-weight: bold;
	padding: 0 30px;
}

.btn-nav {
	background: url('img/location-icon.png') 20px/15px no-repeat;
	height: 50px;
	vertical-align: super;
	font-size: inherit;
	padding: 0 25px 0 45px;
	border-radius: 3px;
	border: 1px solid #216DDF;
	color: #216DDF;
	margin-left: 15px;
	font-weight: 500;
}

/* ----- Main ----- */
main img {
	width: 100%
	margin-top: 5px;
}

/* ----- Footer ----- */
footer {
	height: 130px;
	background-color: #083D8C;
	position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 40px;
  color: #fff;
}

footer p {
	display: inline;
}

footer .icon {
	height: 15px;
}

.footer-logo {
	width: 200px;
}

.copyright {
	line-height: 40px;
	background-color: #216DDF;
	color: #fff;
	font-size: small;
	font-weight: 300;
	margin-top: 39px;
}

.copyright p{
	display: inline;
}

.copyright a {
	color: #fff;
	text-decoration: none;
}
