html { 
  position: relative;
  min-height: 100%;
}

body { 
  margin: 0 0 100px 0;
  font-family: 'open-sans', sans-serif;
}

.float-right {
	float: right;
}

.d-inline {
  display: inline;
}

/* ----- Colors ----- */
.blue-text {
  color: #216DDF;
}

/* ----- Blue Nav Bar ----- */
#blue-nav {
	height: 42px;
	background-color: #083D8C;
}

#blue-nav a {
	text-decoration: none;
	color: #fff;
	margin-top: 15px;
	font-size: small;
	padding: 0 20px;
}

.commercial-service {
	margin-top: 13px;
	margin-right: 80px;
}

.commercial-service img {
	height: 15px;
	vertical-align: middle;
	margin-left: -10px;
}

/* ----- BrandBar ----- */
#main-nav {
	height: 102px;
  -webkit-box-shadow: 0px 5px 6px -6px #000;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 5px 6px -6px #000;  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 5px 6px -6px #000;
 }

#main-nav .logo {
	height: 32px;
	margin-top: 35px;
	margin-left: 80px;
	margin-right: 27%;
}

.main-nav-link {
	color: #083D8C;
	text-decoration: none;
	vertical-align: super;
	font-weight: bold;
	padding: 0 30px;
}

.btn-nav {
	background: url('./../img/location-icon.png') 20px/15px no-repeat;
	height: 50px;
	vertical-align: super;
	font-size: inherit;
	padding: 0 25px 0 45px;
	border-radius: 3px;
	border: 1px solid #216DDF;
	margin-left: 15px;
	font-weight: 500;
}

/* ----- Main Page Content ----- */
main {
	background: url('./../img/water-image.png') no-repeat;
  background-position-y: -15px;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.container {
	margin: 10px 100px;
  padding-top: 100px;
}

.filter-container {
	background-color: #F6F6F6;
	width: 100%;
	height: 80px;
  border-radius: 10px;
}

.margin-left {
  margin-left: 15%;
}

.filter-container p {
  font-size: larger;
}

.vertical-line {
  margin: 10px 30px -20px 30px;
  border-left: 3px solid #ECECEC;
  height: 55px;
  display: inline-block;
}

.card {
  display: inline-flex;
  flex-flow: row wrap;
  flex: auto;
  flex-grow: 0;
  color: #757575;
  background-color: #fff;
  width: 30.5%;
  height: 520px;
  margin: 30px 15px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.card-header {
	width: 100%;
	height: 100px;
	border-bottom: 1px solid #ECECEC;
  margin: 0 15px;
}

.card-header p {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}

.phone-container {
	text-align: center;
	width: 100%;
	margin-top: 30px;
}

.phone-container .phone-number p {
	font-weight: bold;
	font-size: xx-large;
	display: inline;
  vertical-align: super;
  padding-left: 15px;
  color: #3F3F3F;
}

.phone-container p {
	font-size: small;
}

.phone-number img {
	height: 30px;
	display: inline;
}

.phone-text {
  font-style: italic;
  margin: 20px 0 30px 0;
}

.btn-custom {
	background: url('./../img/email-icon.png') 20px/15px no-repeat;
	height: 50px;
	font-size: inherit;
	padding: 0 25px 0 45px;
	border-radius: 3px;
	border: 1px solid #02C7C6;
	color: #083D8C;
	font-weight: 500;
}

.hours p {
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 0;
}

.hours ul {
	list-style: none;
	padding-left: 0;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: small;
}

.card-footer {
	background-color: #F6F6F6;
	height: 50px;
	width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 25px 0 20px 45px;
}

.card-footer p {
  display: inline;
  font-size: small;
  padding-left: 10px;
}

.service-certification {
  width: 50%;
}

/* ----- Tooltip ----- */
[data-tooltip] {
  position: relative;
  cursor: pointer;
  vertical-align: bottom;
}

.tooltip:after {
  visibility: hidden;
  content: attr(data-tooltip);
  white-space: nowrap;
  padding: 10px;
  background: rgba(97, 97, 97, 0.9);
  color: #fff;
  z-index: 100;
  font-size: 12px;
  font-weight: 500;
  border-radius: 2px;
  margin-left: 5px;
}

.tooltip:hover:after {
  visibility: visible;
}

/* ----- Tooltip on the Right ----- */
.tooltip-right:hover:before,
.tooltip-right:hover:after {
  transform: translateX(5px) translateY(-50%);   
}

.tooltip img {
  border-radius: 5px;
  vertical-align: middle;
  margin-left: 8px;
}

/* ----- Custom Checkbox ----- */
/* Customize the label (the container) */
.custom-checkbox {
  position: relative;
  padding-left: 75px;
  cursor: pointer;
  font-size: small;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.custom-checkbox input {
  display: none;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -5px;
  left: 35px;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.custom-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkmark {
  background-color: #216DDF;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
  left: 8px;
  top: 9px;
  width: 8px;
  border: solid white;
  border-width: 8px 0 0 0;
}

/* ----- Modal ----- */
.modal {
  position: fixed; /* Stay in place */
  z-index: 500; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fff;
  margin: auto;
  border: 1px solid #888;
  width: 55%;
  height: 930px;
  position: absolute;
  left: 34%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
  margin-bottom: 100px;
  margin-top: -200px;
}

.modal-header {
  background: #083D8C;
  color: #fff;
  height: 140px;
  margin-top: -16px;
  padding-left: 30px;
}

.modal-header > .email {
  margin-top: 0;
  padding-top: 40px;
}

.modal-header > .company-name {
  font-size: 30px;
  font-weight: 300;
  margin: 0;
}

.modal-body {
  margin: 30px;
  color: #616161;
  font-size: smaller;
}

.modal-body > form {
  background: #F6F6F6;
  padding: 30px 20px 0 20px; 
}

.modal-body > form label {
  font-weight: bold;
}

.modal-body > form img {
  vertical-align: bottom;
  margin-right: 5px;
  height: 20px;
  width: 20px;
}

.modal-body > form input {
  margin: 15px 0;
  padding: 15px 10px;
  width: 575px;
  font-size: smaller;
  color: #616161;
  border: 1px solid #D8D8D8;
}

.custom-input {
  width: 245px;
}

.custom-input input {
  width: 223px;
}

.modal-body > form textarea {
  margin: 15px 0;
  padding: 15px 10px;
  width: 575px;
  height: 50px;
  font-size: smaller;
  color: #616161;
  border-color: #D8D8D8;
}

.btn-modal {
  width: 60px;
  line-height: 30px;
  border-radius: 4px;
  margin: 15px 0 20px 0;
  font-size: medium;
}

.btn-transparent {
  border: 1px solid #3F3F3F;
  color: #3F3F3F;
}

.btn-success {
  border: 1px solid #016B6A;
  background: #01C7C6;
  color: #fff;
  margin-right: 10px;
}


.modal-submit {
  color: #3F3F3F;
  font-size: large;
  font-weight: bold;
	border-top: 1px solid #ECECEC;
  text-align: center;
  padding: 50px 0;
}

.modal-submit img {
  margin-left: 20px;
}

.modal-footer {
  background: #F6F6F6;
  color: #616161;
  font-size: small;
  padding: 10px 30px;
}

/* The Close Button */
.close {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
  line-height: 1;
  background: transparent;
  border: none;
}

.close:hover,
.close:focus {
  background: #F6F6F6;
  color: #BEBEBE;
  text-decoration: none;
  cursor: pointer;
}

/* ----- Footer ----- */
footer {
	height: 130px;
	background-color: #083D8C;
	position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 40px;
  color: #fff;
}

footer p {
	display: inline;
}

footer .icon {
	height: 15px;
}

.footer-logo {
	width: 200px;
}

.copyright {
	line-height: 40px;
	background-color: #216DDF;
	color: #fff;
	font-size: small;
	font-weight: 300;
	margin-top: 39px;
}

.copyright p{
	display: inline;
}

.copyright a {
	color: #fff;
	text-decoration: none;
}

/* for mobile view only */
.mobile-checkbox,
.modal-body > form .mobile-submit,
#main-nav .btn-mobile,
.menu-mobile,
.filter-mobile {
  display: none;
}

/* ----- Laptop ----- */
@media screen and (max-width: 1200px) {
	#main-nav .logo {
		margin-right: 7%;
	}
  .margin-left {
    margin-left: 7%;
  }
  .custom-checkbox {
    padding-left: 50px;
  }
  .checkmark {
    left: 20px;
  }
  .card {
    width: 29.5%;
  }
  .modal-body > form input,
  .modal-body > form textarea {
    width: 96%;
  }
}

/* ----- Tablet ----- */
@media screen and (max-width: 1000px) {
  /* needs menu */
  .container {
    margin: 10px 50px;
  }
  .margin-left {
    margin-left: 2%;
  }
  .filter-container p {
    font-size: medium;
  }
  .vertical-line {
    margin: 10px 15px -20px 15px;
  }
  .custom-checkbox {
    padding-left: 35px;
  }
  .checkmark {
    left: 10px;
  }
  .card {
    width: 45%;
  }
  .modal-content {
    left: 37%;
  }
  .modal-body > form input,
  .modal-body > form textarea {
    width: 94%;
  }
  .modal-header > .email {
    padding-top: 20px;
  }

  #main-nav .menu-mobile img {
    margin-top: 10px;
  }

  .main-nav-link{
    display: none;
  }
}

/* ----- Mobile ----- */
@media screen and (max-width: 600px) {

/* NavBars */
.main {
  background-position-x: center;
}

#blue-nav,
.main-nav-link {
  display:none;
}

#main-nav {
  height: 55px;
}
#main-nav .logo {
  margin: 20px 10px 15px 8px;
  height: 20px;
}

#main-nav .btn-mobile{
  height: 35px;
  display: inline;
  /* width 110 */
	background: url('./../img/location-icon.png') 7px/15px no-repeat;
	vertical-align: top;
	font-size: inherit;
	padding: 0 10px 0 25px;
	border-radius: 3px;
	border: 2px solid #216DDF;
	color: #216DDF;
  margin: 10px 15px;
	font-weight: 500;
}

.menu-mobile {
  display: inline;
  padding: 0;
}

.menu-mobile img {
  margin-top: 10px;
}

/* Filter */
.filter-container {
  margin-left: -15px;
  padding-right: 30px;
}

.container {
  margin: 10px 15px;
}

.filter-mobile {
  display: inline;
}

/* Dropdown Menu */
.menu {
  line-height: 32px;
  font-size: 15px;
  width: -webkit-fill-available;
}

.menu-label {
  position: absolute;
  font-size:12px;
  font-weight:normal;
  pointer-events:none;
  top: -40px;
  width: 100%;
}

.menu div {
  padding: 8px 0;
  list-style: none;
  white-space: nowrap;
  overflow-y: auto;
}

.menu-height {
  max-height: 250px;
}

.menu-content button {
  color: #0BC9c8;
}

.menu-title {
  color: #01529E;
  font-weight: bold;
  text-align: center;
}

.menu-open {
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.2);
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  border-top: 4px solid #0BC9c8;
  border-bottom: 4px solid #0BC9C8;;
  height: 420px;
  z-index: 100;
}

.menu-open .menu-mobile {
  visibility: visible;
  z-index: 1;
}

.menu-open .menu-mobile img {
  display: none;
}

.menu-open .menu-content .menu-link {
  background: #F6F6F6;
  color: #626262 !important;
  list-style: none;
  padding: 25px;
  margin-left: -40px;
  margin-bottom: 2px;
}

.menu-open .menu-mobile .menu-content .menu-link img {
  display: inline;
}

.menu-closed .menu-mobile .menu-content {
  display: none;
}

/* Cards */
.card {
  width: 100%;
  margin: 0 0 2px 0;
}

.phone-number {
  width: 245;
  background: #216DDF;
  margin-left: 45px;
}

.phone-container .phone-number p {
  color: #fff;
}

/* Modal */
  .modal-content {
    width: 58.5%;
    height: 800px;
    top: 40%;
  }

  .modal-header > .email {
    padding-top: 20px;
  }

  .modal-body {
    margin: 20px;
    border-bottom: 1px solid #ECECEC;
  }
  
  .modal-body > form {
    background: #fff;
    padding: 0;
  }

  .modal-body > form input,
  .modal-body > form textarea {
    width: 91%;
  }

  .modal-body > form .custom-input input {
    width: 89%;
  }

  .mobile-checkbox {
    display: inline;
    line-height: 75px;
  }

  .mobile-checkbox .custom-checkbox {
    margin: 15px;
  }

  .mobile-submit {
    display: inline !important;
    font-size: large;
    font-weight: bold;
    color: #01C7C6;
  }

  .modal-submit,
  .btn-modal,
  .modal-footer,
  .btn-nav,
  .filter-desktop {
    display: none;
  }
}
