html { 
  position: relative;
  min-height: 100%;
}

body { 
  margin: 0 0 100px 0;
  font-family: 'open-sans', sans-serif;
}

.float-right {
	float: right;
}

.d-inline {
  display: inline;
}

/* ----- Blue Nav Bar ----- */
#blue-nav {
	height: 42px;
	background-color: #083D8C;
}

#blue-nav a {
	text-decoration: none;
	color: #fff;
	margin-top: 15px;
	font-size: small;
	padding: 0 20px;
}

.commercial-service {
	margin-top: 13px;
	margin-right: 80px;
}

.commercial-service img {
	height: 15px;
	vertical-align: middle;
	margin-left: -10px;
}

/* ----- BrandBar ----- */
#main-nav {
	height: 102px;
  -webkit-box-shadow: 0px 5px 6px -6px #000;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 5px 6px -6px #000;  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 5px 6px -6px #000;
 }

#main-nav img {
	height: 32px;
	margin-top: 35px;
	margin-left: 80px;
	margin-right: 27%;
}

#main-nav a {
	color: #083D8C;
	text-decoration: none;
	vertical-align: super;
	font-weight: bold;
	padding: 0 30px;
}

.btn-nav {
	background: url('./../img/location-icon.png') 20px/15px no-repeat;
	height: 50px;
	vertical-align: super;
	font-size: inherit;
	padding: 0 25px 0 45px;
	border-radius: 3px;
	border: 1px solid #216DDF;
	color: #216DDF;
	margin-left: 15px;
	font-weight: 500;
}

/* ----- Main ----- */
main {
	background: url('./../img/water-image.png') no-repeat;
  background-position-y: -15px;
}

.container {
	margin: 10px 100px;
  padding-top: 100px;
}

.filter-container {
	background-color: #F6F6F6;
	width: 100%;
	line-height: 80px;
}

.card {
  display: inline-flex;
  flex-flow: row wrap;
  flex: auto;
  flex-grow: 0;
  color: #757575;
  background-color: #fff;
  width: 29%;
  height: 500px;
  margin: 15px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.card-header {
	margin-top: 40px;
	font-size: 32px;
	font-weight: lighter;
	text-align: center;
	width: 100%;
	height: 100px;
	border-bottom: 1px solid #ECECEC;
}

.phone-container {
	text-align: center;
	width: 100%;
	margin: auto;
}

.phone-container .phone-number p {
	font-weight: bold;
	font-size: x-large;
	display: inline;
}

.phone-container p {
	font-size: small;
}

.phone-number img {
	height: 30px;
	display: inline;
}

.btn-card {
	background: url('./../img/email-icon.png') 20px/15px no-repeat;
	height: 50px;
	font-size: inherit;
	padding: 0 25px 0 45px;
	border-radius: 3px;
	border: 1px solid #02C7C6;
	color: #083D8C;
	font-weight: 500;
}

.phone-container ul {
	list-style: none;
	padding-left: 0;
}

.card-footer {
	background-color: #F6F6F6;
	height: 100px;
	width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card-footer img {
	height: 20px;
}

.service-certification {
  width: 50%;
}

/* ----- Tooltip ----- */
[data-tooltip] {
  position: relative;
  cursor: pointer;
  vertical-align: bottom;
}

.tooltip:after {
  visibility: hidden;
  content: attr(data-tooltip);
  white-space: nowrap;
  padding: 10px;
  background: rgba(97, 97, 97, 0.9);
  color: #fff;
  z-index: 100;
  font-size: 12px;
  font-weight: 500;
  border-radius: 2px;
  margin-left: 5px;
}

.tooltip:hover:after {
  visibility: visible;
}

/* ----- Tooltip on the Right ----- */
/*.tooltip-right:after {
  top: 50%;
  left: 100%;
}
*/

.tooltip-right:hover:before,
.tooltip-right:hover:after {
  transform: translateX(5px) translateY(-50%);   
}

.tooltip img {
  border-radius: 5px;
  vertical-align: middle;
}

/* ----- Custom Checkbox ----- */
/* Customize the label (the container) */
.custom-checkbox {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.custom-checkbox input {
  display: none;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.custom-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkmark {
  background-color: #216DDF;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
  left: 8px;
  top: 9px;
  width: 8px;
  border: solid white;
  border-width: 8px 0 0 0;
}

/* ----- Footer ----- */
footer {
	height: 130px;
	background-color: #083D8C;
	position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 40px;
  color: #fff;
}

footer p {
	display: inline;
}

footer .icon {
	height: 15px;
}

.footer-logo {
	width: 200px;
}

.copyright {
	line-height: 40px;
	background-color: #216DDF;
	color: #fff;
	font-size: small;
	font-weight: 300;
	margin-top: 39px;
}

.copyright p{
	display: inline;
}

.copyright a {
	color: #fff;
	text-decoration: none;
}

@media screen and (max-width: 1280px) {
	#main-nav img {
		margin-right: 7%;
	}
}
